.table {
    /* padding: 0px 10px 0px 10px; */
}

.table_head {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* border: 1px solid var(--projectGray); */
    background-color: var(--projectGray);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.table_head_i {
    font-weight: 600;
    color: white;
    padding: 20px 4px 10px 4px;
    text-align: center;
    align-items: center;
    border-right: 1px solid white;
}

.table_head_i_f {
    border: none;
}

.table_record {

    /* font-size: 0.8rem; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    padding: 15px 0px;
    margin: 10px 0px 5px 0px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table_record_i {
    font-size: 0.9rem;
    overflow: auto;
    font-weight: 500;
    color: black;
    padding: 0px 5px;
    text-align: center;
    align-items: center;
    border-right: 1px solid var(--projectGray);
}

.table_record_i_f {
    border: none;
}

/* Style the scrollbar of elements with the "myDiv" class */
.table_record_i::-webkit-scrollbar {
    height: 8px;
}

.table_record_i::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.table_record_i::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}