/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "icons/css/all.css";
@import "globals.css";
@import "buttons.css";
@import "form-validation.css";
@import "texts.css";
@import "usermenu.css";
@import "org-events.css";
@import "dropdown.css"; */
@import "buttons.css";
@import "form-validation.css";


body {
    margin: 0;
    padding: 0;
    /* font-family: Verdana, sans-serif; */
}

html{
    scroll-behavior: smooth;
    /* font-family: "Inter"; */
  }

.center-box{
    width: 1300px;
    align-content: center;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: auto;
    border-radius: 30px;
    /* background-color: rgb(190, 223, 143); */
    border-left: 3px solid #98A0CF;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 2px;
  
  }

  .center-box-blank{
    width: 1300px;
    align-content: center;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: auto;
    border-radius: 30px;
    background-color: rgb(190, 223, 143,0);
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 2px; */
  
  }

  .center-box-border{
    width: 1300px;
    align-content: center;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: -10px;
    border: 4px solid #98A0CF;
    margin-bottom: auto;
    border-radius: 30px;
    /* background-color: rgb(190, 223, 143, 0); */
    background-color:rgb(0, 0, 0,0);
    
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 2px; */
  
  }

  .flex-container{
    margin: auto;
    margin-top: 15px;
    margin-bottom: auto;
    background-color: rgb(190, 223, 143,0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.background-img{
  /* background-image: url('images/pic.png'); */
  background-repeat: no-repeat;
  background-position: left bottom;
	background-size: 650px;
  height: 500px;
  width: 1200px;
  border: 4px solid #98A0CF;

}

.flex-item{
    width: 550px;
    margin: 10px;
    background-color: rgb(201, 157, 157);
}

.f-item-1{
    margin-top: 67px;
    height: 245px;
    background-image: url('images/charity1.jpg') !important; 
    background-repeat: no-repeat;
    background-position: left bottom;
	  background-size: cover;
}

.f-item-2{
    min-height: auto;
    max-height: 380px;
    background-color: rgb(223, 157, 145,0.8);
}

.f-item-4{
  margin-top: 67px;
  height: 245px;
  background-image: url('images/charity\ 2.jpg'); 
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.flex-con-2{
  margin: auto;
  margin-top: 15px;
  margin-bottom: auto;
  background-color: rgb(190, 223, 143,0);
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 10px;
  width: 200px;
}

.f-item-3{
  height: 200px;
  width: 500px;
  margin: 10px;
  background-color: rgba(93, 157, 152, 0.8);
}


.flex-section{
    width: 70%;
    height: 300px;
}

.row{
    padding-bottom: 70px;
    /* background-color: #ddd; */
    background-color:rgb(190, 223, 143);
    width: 70%;
    height: 200px;
}

  #event:hover{
    transform: scale(1.1); 
    transition: 0.2s;
  }

  .input-form{
    text-align: left;
    margin-left: 8%;
    width: 90%;
    height: 25%;
    font-family: consolas;
    font-size: 25px;
    margin: 10%;
    margin-top: 8%;
    padding-top: 5%;
  }

  .input-form input{
    width: 65%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-size: 15px;
    border: none;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0px 3px rgb(133, 151, 160);
  }

  .input-form input:hover{
    transform: scale(1.1); 
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .result{
    background-color: #e6e8f8;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 2px;
    width: auto;
    height: auto;
    margin: 10px;
    padding-bottom: 5px;
  }

  .result:hover{
    transform: scale(1.02); 
    transition: 0.1s;
  }

h5 {
    color: #98A0CF;
    margin-left:32px;
    /* margin-bottom: -17px; */
    /* font-family: consolas; */
    font-size: 26px;
    font-weight: lighter;
}

.test {
  background-color: #7681BF;
  height: 500px;
  width: 500px;
}

#test{
  background-color: #7681BF;
  height: 500px;
  width: 500px;
}


.data-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-top: 50px;
  width: 76%;
  text-align: center;
  /* margin-left: 3%; */
}

.data-table tr {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  text-align: center;
  color: white;
}

#topics{
  background-color: rgb(118, 129, 191, 0.8);
  border-radius: 15px;
}

.data-table tr td:first-child { border-radius: 12px 0px 0px 12px; }
.data-table tr td:last-child { border-radius: 0px 12px 12px 0px; }

.data-table tr th:first-child { border-radius: 12px 0px 0px 12px; }
.data-table tr th:last-child { border-radius: 0px 12px 12px 0px; }

/* 
.data-table tr:nth-child(even){
  background-color:  #F2F3F9;
}

.data-table tr:nth-child(odd){
  background-color:  #b6c6b5;
} 
.data-table td, .data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
*/

.data-table tbody tr{
  margin-top: 50px;
  background-color:  rgb(242, 243, 249);
  border-radius: 12px;
  outline: thin solid;
  outline-color: rgb(117, 128, 191);
}
.data-table tbody tr td{
  padding-left: 10px;
  padding-right: 10px;
}

.data-table tr:hover {background-color: #ddd;}

.empty-table {
  margin-top: -100px;
}

#managers-form{
  width: 25%; 
  height: auto; 
  float: left; 
  text-align: center; 
  margin-left: 55px;
  /* background-image: url('./images/bg1.png');
  background-repeat: no-repeat;
  background-position: left bottom;
	background-size: cover; */
  padding-top: 20px;
}

#managers-list{
  padding-top: 30px;
  padding-left: 30px;
  width: 60%; 
  height: auto; 
  float: right; 
  margin-right: 75px; 
  background-color:rgb(0, 0, 0,0);
  border-width: 4px;
  border-color: rgb(117, 128, 191);
  border-style: solid;
  /* background-image: url('images/background 2.png');
  background-repeat: no-repeat;
  background-position: bottom left;
	background-size: 100% auto; */
}

/* #button-col{
  background-color:  rgb(190, 223, 143,0.4) !important;
  border: none; 
} */


/* .user_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(118, 129, 191, 0.4);
  padding: 20px 10px;
  border-radius: 15px;
  border: 1px solid var(--projectPurple);

  position: absolute;
  right: -100%;
  top: 80px;
}

.user_menu.active {
  position: absolute;
  right: 8px;
  top: 80px;
  transition: ease;
  z-index: 1000;
} */

/* **************************************************************************** */
.events input{
  margin: 15px;
  font-size: 20px;
}

.input-form select{
  margin: 15px;
  font-size: 20px;
  width: 65%;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: none;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0px 3px rgb(133, 151, 160);
}

.shop-item-container{
  width: 98%;
  height: 70%;
  background-color: rgb(118, 129, 191, 0);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 30px;
  margin-left: -10%;
  padding-bottom: 10px;
  
}

#add-item{
  background-image: url('images/background3.png');
  background-repeat: no-repeat;
  background-position: left bottom;
	background-size: cover;
}

.child-shop-item {
  width: calc(26.5% - 10px);
  height: 285px;
  background-color: rgb(228, 230, 242);
  margin-left: 60px;
  margin-top: 24px;
  border: 3px solid #98A0CF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 15px;
  text-align: center;

}

.child-shop-item:hover{
  transform: scale(1.05); 
  transition: 0.2s;
}

@media (min-width: 640px) {
  .child-item-shop {
    width: calc(45% - 10px);
  }
}

@media (min-width: 940px) {
  .child-item-shop {
    width: calc(26% - 10px);
  }
}

.shop-item-img{
  background-color: white;
  width: 76%;
  height: 51%;
  padding: 8%;
  padding-left: 12%;
  padding-right: 12%;
  border-radius: 15px;
}
.shop-item-img img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  /* border-radius: 15px; */
}

.item-text-1{
  font-family: 'consolas';
  font-weight: bolder;
  font-size: 26px; 
  margin:-10px; 
  margin-bottom:-12px; 
  padding: -8px;
}
.item-text-2{
  font-weight: 500;
  font-size: 18px; 
  font-family: 'consolas';
  font-style: italic;
  margin:-10px; 
  margin-bottom:-11px; 
  padding: -8px;
}
.item-text-3{
  font-weight: 200;
  font-size: 12px; 
  margin:-10px; 
  font-family: 'consolas';
  margin-bottom:-11px; 
  padding: -8px;
}



.child-event {
  width: calc(33% - 10px);
  height: 320px;
  background-color: #98C03C;
  margin-left: 25px;
  margin-top: 25px;
  position: relative;
}

@media (min-width: 200px) {
  .child-event {
    width: calc(105% - 10px);
  }
}

@media (min-width: 400px) {
  .child-event {
    width: calc(30% - 10px);
  }
}

.editing-item{
  background-color: #bbb;
  width: 300px;
  height: 450px;
  margin-left: 150px;
}

.edit-box{
  justify-content: space-around;
  align-items: center;
  width: 1100px; 
  height: 650px; 
  display: inline-flex;
}