.details {
    list-style-type: none;
    counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
}

.details .tr3{
    counter-increment: css-counter 1; /* Increase the counter by 1. */
    padding: 10px;
  }

 .details .tr3:before{
    content: counter(css-counter) ". ";
  }

  .selectbtn{
    width: 150px;
  }

  .nextbtn{
    float: right;
  }

  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    background-color: #7fb432;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .button-row {
      flex-direction: column;
    }
  }

.No_detail{
  width: 60%;
  position: inherit;
  top: 100px;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  position: static;
}

.container{
  margin-left: 300px;
}

.search-container {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.S1{
  /* margin-right: 150px; */
  display: flex;
  margin-right: 10px;
}

.search-container input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px 0 0 5px;
  /* width:80%; */
  background: #fff;
  border: solid #7681BF;
}

.search-container button {
  padding: 10px;
  border: none;
  background: #7681BF;
  color: #fff;
  border: solid #7681BF;
  font-size: 17px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  margin-left: 5px;
  /* width: 15%; */
}
.f1{
  width: 100%;
}

.search-container button:hover {
  background: #fff;
  color: #7681BF;
  border: solid #7681BF;
}

.f1{
  width: 100%;
}




.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eee;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

@media screen and (max-width: 800px) {
  /* table {
    display: block;
  } */
  
  /* thead {
    display: none;
  } */
  
  /* td {
    display: block;
    border: none;
  } */
  
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

.scrollit {
  overflow:scroll;
  height:50%;
  width: 90%;
}
.scrollit2 {
  overflow-x:scroll;
  width: 100%;
}

.filterbtn{
  width: 100px;
  background-color: #6F6F6F;
  font-size: 16px;
  border:2px solid #6F6F6F;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 5px;
}

.filterbtn:hover{
  background-color: #fff;
  color: #6F6F6F;
}

.filter{
  padding-left: 30px;
  width: 100%;
}

.filterform{
  padding-top: 40px;
}

input{
  width: 20px;
}

.filterinput{
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid #6F6F6F;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filteri2{
  text-align: center;
  border: 1px solid #7681BF;
}

.max{
  background-color: #AEE2FF;
}

.min{
  background-color: #FFC3A1;
}

.n1{
  background-color: rgba(160, 132, 220, 1);
}
.n2{
  background-color: rgba(160, 132, 220, 0.4);
}

.hide{
  display: none;
}

@media only screen and (max-width: 800px) {
  .search-container {
    flex-direction: column;
  }
  
  .S1 {
    margin-bottom: 10px;
  }
  
  .search-bar {
    width: 400px;
  }
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.search-bar2 {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.filter-section{
  margin-bottom: 20px;
}

