.err_message {
    /* transform: translateX(-1000px); */
    color: var(--errorRed);
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    visibility: visible;
}

.exclanation_icon {
    /* transform: translateY(-20px); */
    margin-left: 10px;
    color: var(--errorRed);
    visibility: hidden;
    /* position: relative; */
    /* right: 40px; */
    /* top: 4px; */
    visibility: visible;
}

.error-holder {
    /* transform: translateY(-25px); */
    /* position: absolute; */
    display: none;
}

.error-holder.active {
    display: contents;
}

.server_errors{
    background-color: var(--errorRed);
}