.event-card-on {
    max-width: 300px;
    margin: 10px;
}

.events-card {
    max-width: 900px;
}

.event-image {
    width: 100%;
    border-radius: 5px;
}

.arrow-icon {
    transform: translateY(7px);
}

.progress-back {
    border-radius: 5px;
    background-color: #ccc;
    width: 100%;
}

.progress-fill {
    border-radius: 5px;
    background-color: var(--projectGreen);
}

.event-holder{
    /* overflow: auto; */
    
    width: 100%;
}
.event_scroll{
    /* background-color: red; */
    height: 500px;
    overflow: auto; 
}