.container{
    display: flex;
    flex-direction: column;
    min-height:70vh;
    align-items: center;
    justify-content: center;
    width:80%;
}
.container h2{
color:#7681bf;
}
.container img{
    height:15rem;
}
.container p{
    text-align: center;
    font-size:1.15rem;
    font-weight: bold;
    color:#7FB432;
}