.event-name {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.main button{
    background-color:#7FB432;
    color: #fff;
    border:none;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-weight: bold;
    cursor: pointer;
}
.main button:hover{
    background-color: #94d237;
}
.event-name small {
    font-size: 1rem;
    color: #7FB432;
}

.summary_h {
    margin-top: 5rem;
    color: #6F6F6F;
    width: 10rem;
    align-self: flex-start;
    font-weight: bold;
    text-align: left;
}

img {
    max-width: 100%;
    vertical-align: top;
    border-radius: 0.5rem;

}

.whole {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    width: 50rem;
    min-height: 30rem;
}

.gallery {
    display: flex;
    margin: 1rem;
    max-width: 400px;
    position: relative;
    padding-top: calc(250px / 700px * 100%);
}

@media screen and (min-width: 300px) {
    .gallery {
        padding-top: 300px;
    }
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.gallery__thumb {
    padding-top: 4rem;
    margin: 6px;
    display: block;
}

.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.gallery__selector:checked+.gallery__img {
    opacity: 1;
}

.gallery__selector:checked~.gallery__thumb>img {
    box-shadow: 0 0 0 3px #7FB432;
}

.event-body {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.details {
    width: 40%;
    font-size: 0.9rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.des {
    font-size: 1.2rem;
}

.details i {
    color: #7FB432;
    width: 10px;
}

.event-m {
    color: #000;
    font-weight: bold;
}

.event-body img {
    height: 20rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ii {
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: space-between;
}

.ii span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10.5rem;
}

.date-time {
    background-color: #f3f7f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    font-weight: bold;
    color: #7FB432;

}

.date-time :hover {
    color: #538903;
}

.date-time hr {
    width: 90%;
    height: 0.02rem;
    background-color: #7FB432;
    border: 0.01rem solid #7FB432;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 83%;
}

.donations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 60%;
}

.goal {
    color: #7681BF;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.progress {
    display: flex;
    flex-direction: row;
    width: 50rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.progress-bar {
    width: 80%;
    height: 0.8rem;
    background-color: #dfe1da;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

.progress-bar div {

    height: 0.8rem;
    border-radius: 0.5rem;
    background-color: #7FB432;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 25rem;

}

.cards div {
    height: 10rem;
    width: 10rem;
    background-color: #ffffff;
    margin: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(127, 180, 50, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #6F6F6F;
    text-align: center;
}

.cards :hover {
    background-color: #f1f9ec;
    color: #538903;
}

.cards div i {
    margin: 2rem 1rem 2rem 1rem;
    color: #7FB432;

}

.green {
    font-weight: bold;
}

.card {
    height: 25.7rem;
    width: 22rem;
    /* background-color: #97a27a; */
    background-image: url("../images/bg1.png");
    background-size: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
}

/* .small-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

}
.small-cards :hover{
    background-color:#ffffff;
    color: #000;
} */
.small-cards input {
    /* justify-content: center;
    align-items: center; */

    /* height: 4rem;
    width:5rem;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    
    border-radius: 0.5rem; */

}

/* .one{
    background-color: rgb(133, 215, 131);
    border: 1px solid #d2d2d2;
}
.two{
    background-color: rgb(237, 237, 126);
    border: 1px solid #d2d2d2;
}
.three{
    background-color: rgb(222, 86, 86);
    border: 1px solid #d2d2d2;
} */
.button {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.button label,
.button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;

    height: 3.5rem;
}

.button input[type="radio"]:checked+label {
    background: #bebafc;
    border-radius: 4px;
    font-weight: bold;

}

.one {
    background-color: rgb(133, 215, 131);
}

.two {
    background-color: rgb(237, 237, 126);
}

.three {
    background-color: rgb(220, 126, 126);
}

.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
    /* background-color: #bfe388; */
    border-radius: 0.5rem;
    height: 4rem;
    text-align: center;
}


.card form {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card form input {
    width: 14rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #d2d2d2;
}

.continue {
    height: 2.3rem;
    width: 9rem;
    border-radius: 0.5rem;
    background-color: #7FB432;
    border: 1px solid #7FB432;
    color: white;
    font-weight: bold;
}

.map {
    margin-left: 15%;
    align-self: flex-start;
    height: 20rem;
    width: 45%;
    background-color: #f6f9f0;
}