
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.top{
    width: 80%;
    height: 22rem;
    border-radius: 0.5rem;
    /* border: 0.05rem solid #7681BF; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 15rem;
    justify-content: flex-end;
    margin-bottom:3rem;
}
.container p{
    font-weight: bold;
    font-size:large;
    color:#7FB432;
}
.first,.second,.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 0.5rem;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(106, 106, 125, 0.25) 0px 50px 100px -20px, rgba(78, 73, 94, 0.285) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    /* border: 0.01rem solid #7681BF; */
}
.first{
    height: 70%;
    width: 14rem;
  
   
}
.first i{
    color:#FFD700;
}
.first img{
    border: 0.2rem solid #FFD700;
}
.second{
    height: 60%;
    width: 12rem;
   
}
.second img{
    border: 0.2rem solid #7FB432;

}
.third{
    height: 50%;
    width: 10rem;
    
}
.third img{
    border: 0.2rem solid #7681BF;

}
.first:hover,.second:hover,.third:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(108, 108, 199, 0.75) 0px 50px 100px -20px, rgba(116, 92, 205, 0.85) 0px 30px 60px -30px;
}
.container img{
    height:50%;
    border-radius: 4.5rem;
}

.long-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.25rem 0 1.25rem 0;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 70%;
    height: 5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.long-card img{
    height:4.5rem;
    border-radius: 3rem;
    border: 0.1rem solid #4e5eb9;
}
.long-card small{
    font-size:large;
    height: 3rem;
    width:3rem;
    background:#9d9c9c;
    color: #fff;
    border-radius: 3rem;
    text-align: center;
    font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.long-card:hover{
  background-color: #f5f8f2;
}
.change{
    align-self: flex-start;
    margin-left: 10rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.change a{
    height: 2rem;
    width: 6rem;
    border: none;
    text-align: center;
    padding-top: 0.25rem;
   font-weight: bold;
}
.donor{
    background-color: #7FB432;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.volunteer{
    background-color:#d0d0d0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}