.container_pd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 1rem 0;
    padding: 1rem;
    width: 90%;
    min-height: 70vh;
    /* background-color: antiquewhite; */
}

.corner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    /* background-color:rgb(107, 82, 49); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* border: 2px solid #7FB432; */
    border-radius: 0.5rem;
}

.corner img {
    width: 9rem;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 28rem;
    /* background-color:rgb(196, 154, 100); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* border: 2px solid #7FB432; */
    border-radius: 0.5rem;
}

.middle img {
    width: 27rem;
}

.corner_2 {
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* background-color: aquamarine; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    /* border: 2px solid #7FB432; */

}
.des{
    margin-bottom: 2rem;
}
.product{
    margin-top: 0.5rem
}
.name {
    font-weight: bold;
    font-size: 1.4rem;
    width: 23rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.name i{
    background-color: #dfeccc;
    padding: 1rem;
    border-radius: 1rem;
    color: #7FB432;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.name i:hover{
    background-color: #ecf1e3;
    color: #69af01;
}
.buttons_p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    margin-top: 2rem;
}

.green {

    color: #7FB432;
}

.cart {
    height: 2rem;
    width: 9rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(127, 180, 50);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.purple {
    background-color: rgb(118, 129, 191);
}

.cart:hover {
    background-color: #90cb38;
}

.purple:hover {
    background-color: #8390d7;
}

.alert {
    position: fixed;
    z-index: 1;
    top: 12rem;
    height: 2rem;
    width: 19rem;
    background-color: #d7eeb4;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #69af01;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    visibility: hidden;

}

.visible {
    visibility: visible;
}