.container{
    min-height:38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p{
    font-weight:bold;
    font-size:2.5rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
   color: #7FB432;
}

.container span{
    color: #7681BF;
}
.sub{
    color: #7FB432;
    font-size:smaller;
}
h2{
    color:#7681BF;
}
.search{
height: 3rem;
padding: 0.5rem;
background-color: #ffffff;
margin-top: 4rem;
border-radius: 1rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: flex;
flex-direction: row;
margin-bottom: 0.5rem;
}
.search form{
    flex-direction: row;
    justify-content:space-between;
    width: 60rem;
    padding-top: 0.75rem;
    align-items: center;
 
}

.search input{
    color:#797979;
    height: 1.5rem;
    border:none;
    width: 50rem;
    padding-left: 1rem;
    font-size: medium;
}
.search input:focus{
outline-color: #ffffff;
}
form a{
    margin-left: 5rem;
   
}
.search button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #797979;
}
.results{
min-height: 3rem;
padding: 1rem;
background-color: #ffffff;
border-radius: 1rem;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
color: #797979;
visibility: hidden;
}
.results div{
    width: 57rem;
    padding: 0.25rem;
    border-radius:0.25rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
}

.results div:hover{
    cursor: pointer;
    background-color: #fafbff;
    color: #7681BF;
}
.results a{
    color:inherit;
    text-decoration: none;
}
.results img{
    height:2rem;
    width:2rem;
    border-radius: 2rem;
    margin :0.5rem;
}