.sub-menu-wrap{
    position:absolute;
    top:13%;
    right: 2%;
    width: 18rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    
}
.sub-menu-wrap.open-menu{
    max-height: 25rem;
}
.sub-menu{
    border-radius: 1rem;
    background:#fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding:1rem;
    margin:1rem;
}
.sub-menu img{
    height: 4rem;
    width: 4rem;                  
    border-radius: 50%;
    border: 0.05rem solid #F2F3F9;
}
.sub-menu p{
    font-weight:bold;
    margin-left: 0.8rem;
    color: #7681BF;
}

.sub-menu hr{
    border:0;
  height:0.1rem;
  background-color:#7681BF;
    width:100%;
    margin:1rem 0 0.5rem 0;
}
.sub-menu-link{
    display: flex;
    flex-direction:row;
    text-decoration: none;
    align-items:center;
    color: #7681BF;
    margin-left: 0.3rem;
}
.sub-menu-link p{
    width: 70%;
    font-weight: 400;
    font-size: 0.9rem;
}
.sub-menu-link i{
    background-color: #F2F3F9;
    border-radius: 50%;
    padding:0.7rem;
    margin-right: 0px;
}
.sub-menu-link span{
    font-size:0.8rem;
    font-weight: 600;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(0.3rem);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.user-info{
    display: flex;
    align-items: center;
}
