.intro {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    /* background-color: #7681BF; */
    justify-content: space-between;
    align-items: center;
    height: 16rem;
    width: 60rem;
}

.user-pic {
    height: 15rem;
    width: 15rem;
    border-radius: 8rem;
    border: 0.2rem solid #7FB432;
    margin-left: 5rem;
}

.details {

    font-size: 1.5rem;
    color: #7681BF;
    font-weight: 500;
    margin-right: 7em;
}

/* .name {
    font-weight: 600;
} */

.details>a {
    border: 1.5px solid #7FB432;
    background-color: #7FB432;
    color: #FFFFFF;
    border-radius: 0.35rem;
    height: 1.5rem;
    width: 6rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.25rem;

}

.details>a:hover {
    background-color: #FFFFFF;
    color: #7FB432;
}

.edit_profile_btn {
    height: 1.5rem;
    width: 6.5rem;
    border: 1px solid #7681BF;
    color: #FFFFFF;
    background-color: #7681BF;
    border-radius: 2rem;
    text-decoration: none; 
    text-align: center;
    padding-top: 0.25rem;
    margin-top: 0.25rem;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.5rem;

}

.edit_profile_btn:hover {
    background-color: #F2F3F9;
    color: #7681BF;

    border: 1.5px solid #7681BF;


}

.form_text {
    width: 80%;
    border-radius: 0.5rem;
    border: 0.05rem solid #3d3a3a;
    margin: 1rem;
    padding: 0.5rem;
    height: 30%;

}

.certificate_section {
    display: flex;
    flex-direction: column;
  
    margin: 3rem 0 1rem 0;
    min-height: 15rem;
    width: 60rem;
}
.cert_del{
    
    background-color: #e9f8d3;
    height: 1rem;
    width:1rem;
    padding: 0.5rem;
    border-radius: 0.5rem
}
.cert_del_confirm{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    position: absolute;
    height: 10rem;
    width: 13rem;
    background-color: #ffffff;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    top:35rem;
    visibility: visible;
}
.cert_del_confirm button{
    width: 5rem;
    background-color: #7FB432;
    border: none;
    height: 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
}
.cert_del_confirm button:hover{
    background-color: #95d03d;
}
.certificates i{
color: #7FB432;
height: 1rem;
}
.certificates i:hover{
    color: #93db26;
}
.heading_certificates {
    margin-bottom: 2rem;
    color: #000;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading_certificates button,
.change_pic button {
    height: 2.5rem;
    width: 6rem;
    color: #fff;
    font-weight: bold;
    background-color: #7681BF;
    border: none;
    border-radius: 0.5rem;
}
.heading_certificates button{
   align-self: flex-end;
   margin-right: 3rem;
}

.change_pic {
    position: absolute;
    left: 30%;
    min-height: 18rem;
    width: 30rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    visibility: visible;
    padding: 0.5rem;
}

.file {
    display: none;
}

.file_label {
    cursor: pointer;

}

.file_h {
    background-color: #dfe8cc;
    height: 3rem;
    width: 10rem;
    text-align: center;
    border-radius: 0.8rem;
    color: #98C03C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0.3rem;
}

.file_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    height: 13rem;
}

.file_name {
    max-width: 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file_h:hover {
    background-color: #d1e0a4;
}

.visible {
    visibility: hidden;
}

.error {
    visibility: visible;
    color: #ff8477;
}

.certificates {
    display: flex;
    flex-direction: column;

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #F2F3F9; */
}

.image img {
    height: 15rem;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5rem;
}
.no_cert{
    color: #787878;
    font-size: medium;
    font-weight: bold;
    height: 6rem;
    width: 60rem;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 1rem;
}
.no_cert i{
    color: #787878;
    margin-top: 1rem;
}
.certificates_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5rem;
    font-size: small;
}

.certificates_row p {
    width: 15rem;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cert-image {
    height: 15rem;
    width: 17rem;
    background-color: #ececec;
}
.scroll {
    height: 20rem;
    min-height: 10rem;
    overflow-y: scroll;
   border: 1px solid #ececec;
   border-radius:1rem;
    
}

.scroll::-webkit-scrollbar {
    width: 16px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #7FB432;
}
.activities_section.donation_section,
table {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    width: 59rem;
}

.table_headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;

}

.table_headings,
.heading_activities {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;

}

.table_headings>th {
    width: 10rem;
    text-align: center;
}

.table_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0 1.25rem 0;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.table_row>td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    text-align: center;
    font-size: 1.1rem;

}

.table_row:hover {
    background-color: #ececec;
}

.end_section {
    width: 60rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.summary {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 10rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.summary:hover {
    background-color: #ececec;
}

.amount {
    margin-top: 1rem;
    color: #7681BF;

    font-size: 1.5rem;


}

.news {
    margin: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6F6F6F;
    font-weight: 600;
}

.news button {
    background-color: #000;
    height: 2.5rem;
    width: 6rem;
    color: #fff;
    border-radius: 0.5rem;
}

.news button:hover {
    background-color: #3d3a3a;
    border-color: #3d3a3a;
}

.footer {
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}