/* margins */
@media screen and (max-width: 992px) {
    body {
        margin: 0px 80px;
    }
}

a {
    text-decoration: none;
    color: black;
}

.addmore-txt {
    font-size: 24px;
}

.photo_holder {
    height: 220px;
    /* padding-bottom: 100%; */

    border: 3px solid var(--projectPurple);
    border-radius: 10px;

    overflow: hidden;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.photo_holder img {
    z-index: 10000000;
}

.addmore_link_holder {
    padding: 20px;
    border: 2px solid var(--projectPurple);
    background-color: white;
    border-radius: 10px;
}

.remove_button {
    margin-top: 10px;
    float: right;
}

.link_holder {
    flex-direction: column;
    align-items: center;
}

.detail_box {
    padding: 1.5rem;
    text-align: center;
}

.left-side {
    width: 50%;
    float: left;
}

.right-side {
    width: 50%;
    float: right;
}

.volunteer_scroll{
    /* background-color: red; */
    height: auto;
    max-height: 275px;
    overflow: auto; 
}

.accepted_scroll{
    /* background-color: red; */
    height: auto;
    max-height: 275px;
    overflow: auto; 
}